<!DOCTYPE html>
<html>
<head>
  <title>FirstApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<!-- New header -->
<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%=link_to "FirstApp", "#", id:"logo" %>
		</div>
</header>
<!-- Content wraped in container -->
<div class="container">
	<%= yield %>
<!-- new footer -->

  <footer class="footer">
  	<small>
  		<a href="codecamp.io">程式開發工作營</a>
  	</small>
  </footer>
</div>

</body>
</html>
